/* Start of my CSS */
.panel{
  background-color: #FFFFFF;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.heading{
  margin-top: 2.5vh;
}

.text{
  width: 70%;
  text-align: center;
<<<<<<< HEAD
  height: 10%;
}

.closeButton{
  background: transparent url("close.jpg") center no-repeat;
  width: 40px;
  height:40px;
  padding: 10px 0 0 10px;
}

.status{
  background: transparent url("status1.jpg") center no-repeat;
  width: 40px;
  height:40px;
  padding: 10px 10px 0 0;
}

.avatar{
  background: transparent url("temp_avatar.jpg") center no-repeat;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-size: 30%;
  height: 27vh;
}

.wrapper {
  /*max-width: 300px;*/
  min-width: 200px;
  height: 40vh;
  padding: 20px; 
}

.signin {
  width: 100%;
  display: inline-block;
  margin: auto;
  text-align: center;
  font-size: 10px; }
=======
  height: 10vh;
}


>>>>>>> master
