input{ visibility: visible}
button{background-color: #526E9C; color: white;}
input{background-color: white;}

.content{
  margin-top: 10px;
  border-top-style: 1px solid black;
  padding: 30px;
}

core-pages{
	left: 0px;
	margin-top: 0px;
	top: 0px;
}
paper-tabs{
	width: 100%;
}
