
#onboardpanel{
	position:  absolute;
	left: 0px;
	top: 0px;
}

#iconPanel{
	margin-left: 50px;
	border-radius: 5px;
	margin-right: 10px;
	width: 250px;
}


.title{
	font-size: 12pt;
	/* padding-left: 20px; */
	color: rgb(146, 144, 144);
	/* text-align: center; */
	/* margin-bottom: 10px; */
}


iron-collapse{
	background-color: white;
	min-height: 100px;
	color: #555;
	border-radius: 4px;
}


.linkedin{
	background-color: #565656;
	color: white;
	border: 1px solid #565656;
}

.linkedin > .buttonPanel{
	background-color: #565656;
}

.linkedin > paper-button{
	background-color: #505050;
	color: white;
}


.facebook{
	background-color: #44619D;
	color: white;
	border: 1px solid #44619D;
}

.facebook >  paper-button{
	background-color: #44619D;
	color: white;
}

.facebook > .buttonPanel{
	background-color: #44619D;
}

.twitter{
	background-color: #55ACEE;
	color: white;
	border: 1px solid #55ACEE;
}

.twitter > paper-button{
	background-color: #55ACEE;
	color: white;
}


.twitter > .buttonPanel{
	background-color: #55ACEE;
}

.google{
	background-color: #DD4B39;
	color: white;
	border: 1px solid #DD4B39;
}

.google > .buttonPanel{
	background-color: #DD4B39;
}

.google > paper-button{
	background-color: #DD4B39;
	color: white;
}


.eventbrite{
	background-color: #6C9646;
	color: white;
	border: 1px solid #6C9646;
}

.eventbrite > .buttonPanel{
	background-color: #6C9646;
}

.eventbrite > paper-button{
	background-color: #6C9646;
	color: white;
}


.meetup{
	background-color: white;
	color: black;
	border: 1px solid white;
}



