
/** The block containing the first and last names. */
#nameBlock{
	font-size: 8pt;
    color: #526E9C;
}

/** The title block containing the title and company. */
#titleBlock{
	font-size: 8pt;
	color: #505050;
}


core-field > label {
	font-size: 11pt;
	color: #526E9C;
}

core-field > span{
	padding-left: 5px;
	font-size: 9pt;
}

/** The avatar image used for the contact. */
.avatar{
	height: 50px;
	width: 50px;
	padding-right: 5px;
	border-radius: 5px;
}
polymer-ui-ratings{
	width: 80px;
}

.cardWhite{
	background-color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
  display: block;
}
