@charset "utf-8";
/** The block containing the first and last names. */

back-container {
  display: table;
}
paper-field {
  display: table-row;
  margin-bottom: 5px;
}
paper-field > label {
  font-size: 11pt;
  color: #526E9C;
  vertical-align: top;
  padding-right: 3px;
  display: table-cell;
}
paper-field > span {
  padding-left: 5px;
  font-size: 9pt;
  display: table-cell;
}
paper-textarea {
  width: 150px;
  height: 50px;
  float: right;
  display: table-cell;
}

polymer-ui-ratings {
  width: 80px;
}
.cardWhite {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  display: block;
  border: 1px solid #bce6d5;
}
iron-icon,
iron-icon-button {
  color: #505050;
}

iron-icon[icon='social:person'] {
  height: 60px;
  width: 55px;
  color: #bce6d5;
}

