#titleBlock{
  color: #526E9C;
	font-size: 20px;
}
#summaryBlock{
	font-size: 8pt;
	color: #505050;
	margin-top: 4px;
}

#card{
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}

core-dropdown-menu{
	border: 1px solid #cacaca;
}

