/* Trait styles */
.trait-wrapper {
  background-color: #ebebeb;
  padding: 5px;
  overflow: auto;
  margin-left: 10px;
  margin-bottom: 10px; }

.trait {
  background-color: #cccccc;
  border-radius: 4px;
  margin: 2px;
  padding: 2px;
  display: inline-block;
  font-size: 10pt; }

.trait-pair {
  padding: 5px;
  margin-bottom: 5px; }
  .trait-pair label {
    display: block;
    font-size: 11pt; }
  .trait-pair paper-progress {
    width: 80%; }
  .trait-pair paper-checkbox {
    padding: 3px 10px 0 0; }
