/* Trait styles */

@import '../sass/_config';

.trait-wrapper{
	background-color: $trait-wrapper-background;
	padding: 5px;
	overflow: auto;
	margin-left: 10px;
	margin-bottom: 10px;
}

.trait {
	background-color: $trait-background;
	border-radius: 4px;
	margin: 2px;
	padding: 2px;
	display: inline-block;
	font-size: 10pt;
}

.trait-pair {
	padding: 5px;
	margin-bottom: 5px;

	label {
		display: block;
		font-size: 11pt;
	}

	paper-progress {
		width: 80%;
	}

	paper-checkbox {
		padding: 3px 10px 0 0;
	}
}
