#titleBlock{
    color: #526E9C;
}
#summaryBlock{
	font-size: 8pt;
	color: #505050;
}

label {
	font-size: 10pt;
}

core-field > span{
	padding-left: 5px;
	font-size: 10pt;
}

core-collapse > span{
	font-size: 9pt;
	line-height: 1.5;
}


polymer-ui-ratings{
	width: 80px;
}

