section {
  background-color: #ebebeb; }

.skill {
  background-color: #cccccc;
  border-radius: 4px;
  margin: 8px 3px;
  padding: 10px 8px;
  display: inline-block; }

.summary {
  width: 100%; }

qi-avatar::shadow .photo {
  width: 100px;
  height: 100px;
  background-size: cover;
  border: 1px solid #7ba2b2; }

.trait-wrapper {
  background-color: transparent; }

.profile-overview {
  padding: 15px;
  background-color: #526b75;
  color: white; }
  .profile-overview h4, .profile-overview .label-text {
    color: white; }
  .profile-overview .profile-name {
    padding: 0 15px; }
  .profile-overview paper-input {
    font-size: 10pt; }
  .profile-overview paper-input::shadow paper-input-decorator {
    width: 80%; }
  .profile-overview .summary.textfield {
    max-height: 250px; }
  .profile-overview paper-autogrow-textarea::shadow ::content textarea.profile {
    font-size: 9pt;
    line-height: 1.5;
    max-height: 250px;
    background-color: #435860;
    border: 0;
    color: white;
    padding: 15px;
    border-bottom: 5px solid #3b4d54; }

.work-history {
  background-color: #526b75;
  margin: 20px 0; }
  .work-history h4 {
    color: white;
    padding: 15px;
    padding-bottom: 0; }

h1 {
  padding-left: 5px;
  font-size: 14pt;
  color: #505050; }

h4 {
  margin-bottom: 6px; }

label {
  font-size: 10pt;
  padding-right: 5px; }

#panelContent {
  padding-left: 5px; }

button {
  background-color: #526E9C;
  color: white;
  font-size: 10pt; }

.skill {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  margin: 4px;
  padding: 5px;
  display: inline-block; }

.textfield {
  font-size: 9pt;
  margin-left: 5px; }

paper-autogrow-textarea {
  width: 100%; }

paper-autogrow-textarea > textarea {
  padding: 5px; }
