@import '../sass/_config';

section{
	background-color: $background;
}

.skill {
	background-color: $trait-background;
	border-radius: 4px;
	margin: 8px 3px;
	padding: 10px 8px;
	display: inline-block;
}

.summary{
	width: 100%;
}

qi-avatar /deep/ .photo {
	width: 100px;
	height: 100px;
	background-size: cover;
	border: $border;
}

.trait-wrapper{
	background-color: transparent;
}

.profile-overview {
	padding: $page-padding;
	background-color: $qi-gray-dark2;
	color: $white;

	h4, .label-text {
		color: $white;
	}

	.profile-name {
		padding: 0 $page-padding;
	}

	paper-input {
		font-size: 10pt;
	}

	paper-input::shadow paper-input-decorator {
		width: 80%;
	}

	.summary.textfield {
		max-height: 250px;
	}

	paper-autogrow-textarea::shadow ::content textarea.profile {
		font-size: 9pt;
		line-height: 1.5;
	  max-height: 250px;
	  background-color: darken($qi-gray-dark2, 7%);
	  border: 0;
	  color: $white;
	  padding: $page-padding;
	  border-bottom: 5px solid darken($qi-gray-dark2, 11%);
	}

}

.work-history {
	background-color: $qi-gray-dark2;
	margin: 20px 0;

	h4 {
		color: $white;
		padding: $page-padding;
		padding-bottom: 0;
	}
}




 h1{ 
 	padding-left: 5px; 
 	font-size: 14pt;
 	color: #505050;
 }
 h4 {
 	margin-bottom: 6px;
 }
 label{
 	font-size: 10pt;
 	padding-right: 5px;
 }
 #panelContent{
 	padding-left: 5px;

 }
 button{ 
 	background-color: #526E9C;
 	color: white;
 	font-size: 10pt;
 }

 .skill{
 	background-color: rgba(255, 255, 255, 0.5);
 	border-radius: 4px;
 	margin: 4px;
 	padding: 5px;
 	display: inline-block;
 }
 .textfield{
 	font-size: 9pt;
 	margin-left: 5px;
 }

 paper-autogrow-textarea{
 	width: 100%;
 }
 paper-autogrow-textarea > textarea{
 	padding: 5px;
 }



