@font-face {
    font-family: 'fira-sans-ultralight';
    src: url('firasans-ultralight-webfont.eot');
    src: url('firasans-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-ultralight-webfont.woff2') format('woff2'),
         url('firasans-ultralight-webfont.woff') format('woff'),
         url('firasans-ultralight-webfont.ttf') format('truetype'),
         url('firasans-ultralight-webfont.svg#fira_sansultralight') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'fira-sans-ultralight';
    src: url('firasans-ultralightitalic-webfont.eot');
    src: url('firasans-ultralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-ultralightitalic-webfont.woff2') format('woff2'),
         url('firasans-ultralightitalic-webfont.woff') format('woff'),
         url('firasans-ultralightitalic-webfont.ttf') format('truetype'),
         url('firasans-ultralightitalic-webfont.svg#fira_sansultralight_italic') format('svg');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'fira-sans-book';
    src: url('firasans-book-webfont.eot');
    src: url('firasans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-book-webfont.woff2') format('woff2'),
         url('firasans-book-webfont.woff') format('woff'),
         url('firasans-book-webfont.ttf') format('truetype'),
         url('firasans-book-webfont.svg#fira_sansbook') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'fira-sans-book';
    src: url('firasans-bookitalic-webfont.eot');
    src: url('firasans-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-bookitalic-webfont.woff2') format('woff2'),
         url('firasans-bookitalic-webfont.woff') format('woff'),
         url('firasans-bookitalic-webfont.ttf') format('truetype'),
         url('firasans-bookitalic-webfont.svg#fira_sansbook_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'fira-sans-semibold';
    src: url('firasans-semibold-webfont.eot');
    src: url('firasans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-semibold-webfont.woff2') format('woff2'),
         url('firasans-semibold-webfont.woff') format('woff'),
         url('firasans-semibold-webfont.ttf') format('truetype'),
         url('firasans-semibold-webfont.svg#fira_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'fira-sans-semibold';
    src: url('firasans-semibolditalic-webfont.eot');
    src: url('firasans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-semibolditalic-webfont.woff2') format('woff2'),
         url('firasans-semibolditalic-webfont.woff') format('woff'),
         url('firasans-semibolditalic-webfont.ttf') format('truetype'),
         url('firasans-semibolditalic-webfont.svg#fira_sanssemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;

}



@font-face {
    font-family: 'fira-sans-extrabold';
    src: url('firasans-extrabold-webfont.eot');
    src: url('firasans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-extrabold-webfont.woff2') format('woff2'),
         url('firasans-extrabold-webfont.woff') format('woff'),
         url('firasans-extrabold-webfont.ttf') format('truetype'),
         url('firasans-extrabold-webfont.svg#fira_sansextrabold') format('svg');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'fira-sans-extrabold';
    src: url('firasans-extrabolditalic-webfont.eot');
    src: url('firasans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('firasans-extrabolditalic-webfont.woff2') format('woff2'),
         url('firasans-extrabolditalic-webfont.woff') format('woff'),
         url('firasans-extrabolditalic-webfont.ttf') format('truetype'),
         url('firasans-extrabolditalic-webfont.svg#fira_sansextrabold_italic') format('svg');
    font-weight: 800;
    font-style: italic;

}
