/* Card styles */
@font-face {
  font-family: 'fira-sans-ultralight';
  src: url("font/firasans-ultralight-webfont.eot");
  src: url("font/firasans-ultralight-webfont.eot?#iefix") format("embedded-opentype"), url("font/firasans-ultralight-webfont.woff2") format("woff2"), url("font/firasans-ultralight-webfont.woff") format("woff"), url("font/firasans-ultralight-webfont.ttf") format("truetype"), url("font/firasans-ultralight-webfont.svg#fira_sansultralight") format("svg");
  font-weight: 100;
  font-style: normal; }
@font-face {
  font-family: 'fira-sans-ultralight';
  src: url("font/firasans-ultralightitalic-webfont.eot");
  src: url("font/firasans-ultralightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/firasans-ultralightitalic-webfont.woff2") format("woff2"), url("font/firasans-ultralightitalic-webfont.woff") format("woff"), url("font/firasans-ultralightitalic-webfont.ttf") format("truetype"), url("font/firasans-ultralightitalic-webfont.svg#fira_sansultralight_italic") format("svg");
  font-weight: 100;
  font-style: italic; }
@font-face {
  font-family: 'fira-sans-book';
  src: url("font/firasans-book-webfont.eot");
  src: url("font/firasans-book-webfont.eot?#iefix") format("embedded-opentype"), url("font/firasans-book-webfont.woff2") format("woff2"), url("font/firasans-book-webfont.woff") format("woff"), url("font/firasans-book-webfont.ttf") format("truetype"), url("font/firasans-book-webfont.svg#fira_sansbook") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'fira-sans-book';
  src: url("font/firasans-bookitalic-webfont.eot");
  src: url("font/firasans-bookitalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/firasans-bookitalic-webfont.woff2") format("woff2"), url("font/firasans-bookitalic-webfont.woff") format("woff"), url("font/firasans-bookitalic-webfont.ttf") format("truetype"), url("font/firasans-bookitalic-webfont.svg#fira_sansbook_italic") format("svg");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: 'fira-sans-semibold';
  src: url("font/firasans-semibold-webfont.eot");
  src: url("font/firasans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("font/firasans-semibold-webfont.woff2") format("woff2"), url("font/firasans-semibold-webfont.woff") format("woff"), url("font/firasans-semibold-webfont.ttf") format("truetype"), url("font/firasans-semibold-webfont.svg#fira_sanssemibold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'fira-sans-semibold';
  src: url("font/firasans-semibolditalic-webfont.eot");
  src: url("font/firasans-semibolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/firasans-semibolditalic-webfont.woff2") format("woff2"), url("font/firasans-semibolditalic-webfont.woff") format("woff"), url("font/firasans-semibolditalic-webfont.ttf") format("truetype"), url("font/firasans-semibolditalic-webfont.svg#fira_sanssemibold_italic") format("svg");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: 'fira-sans-extrabold';
  src: url("font/firasans-extrabold-webfont.eot");
  src: url("font/firasans-extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("font/firasans-extrabold-webfont.woff2") format("woff2"), url("font/firasans-extrabold-webfont.woff") format("woff"), url("font/firasans-extrabold-webfont.ttf") format("truetype"), url("font/firasans-extrabold-webfont.svg#fira_sansextrabold") format("svg");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'fira-sans-extrabold';
  src: url("font/firasans-extrabolditalic-webfont.eot");
  src: url("font/firasans-extrabolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("font/firasans-extrabolditalic-webfont.woff2") format("woff2"), url("font/firasans-extrabolditalic-webfont.woff") format("woff"), url("font/firasans-extrabolditalic-webfont.ttf") format("truetype"), url("font/firasans-extrabolditalic-webfont.svg#fira_sansextrabold_italic") format("svg");
  font-weight: 800;
  font-style: italic; }
.card-wrapper {
  padding: 15px;
  padding-bottom: 0; }

.card {
  background-color: white;
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  height: 125px;
  font-size: 10pt;
  line-height: 1.2; }
  .card p {
    margin: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .card h3 {
    font-size: 20px;
    margin: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }

.card header {
  height: 60px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.card .summary {
  height: 25px;
  line-height: 0.75;
  padding: 5px 10px;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0; }

.card-actions {
  height: 40px;
  border-top: 1px solid #ebebeb;
  position: absolute;
  top: 85px;
  right: 0;
  bottom: 0;
  left: 0; }

.card.venue-bkgnd {
  height: 200px;
  background-color: #526b75;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px; }
  .card.venue-bkgnd header {
    height: 70px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4); }
  .card.venue-bkgnd .summary {
    height: 130px;
    position: absolute;
    top: 90px;
    right: 0;
    bottom: 0;
    left: 0; }

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: HSLA(195, 60%, 20%, 0.5); }

.card.card-photo {
  height: 150px; }
  .card.card-photo .photo {
    height: 110px;
    width: 80px;
    background-color: #7ba2b2;
    background-repeat: no-repeat;
    background-size: cover; }
  .card.card-photo header {
    left: 80px;
    height: 63.33333px; }
  .card.card-photo .summary {
    left: 80px;
    height: 31.66667px;
    top: 63.33333px; }
  .card.card-photo .card-actions {
    top: 110px; }
  .card.card-photo core-collapse {
    background-color: #ebebeb;
    border: 5px solid white;
    border-top: 0;
    font-size: 12pt;
    padding: 5px 10px;
    margin-top: 50px; }
  .card.card-photo .matchPercentage {
    font-size: 18pt;
    display: inline; }
    .card.card-photo .matchPercentage span {
      font-size: 8pt; }
  .card.card-photo .distanceAway {
    font-size: 9pt;
    display: inline;
    padding-bottom: 2px; }

.card.card-notice {
  height: 60px; }
  .card.card-notice .avatar {
    height: 60px; }
  .card.card-notice .core-icon-wrapper {
    height: 60px;
    width: 60px;
    background-color: #7ba2b2;
    text-align: center; }
  .card.card-notice core-icon {
    height: 36px;
    width: 36px;
    color: white;
    margin-top: 10px; }
  .card.card-notice .noticeContent {
    height: 60px;
    padding: 5px 10px; }

.card.meeting {
  font-size: 10pt;
  line-height: 1.2;
  height: auto; }
  .card.meeting p {
    margin: 8px 4px;
    overflow: auto;
    text-overflow: initial;
    white-space: normal;
    position: relative; }
    .card.meeting p span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 90px; }
  .card.meeting header {
    height: auto;
    position: relative;
    background-color: #acecd3; }
  .card.meeting .summary {
    height: auto;
    line-height: 1.5;
    position: relative;
    top: 0;
    max-height: 200px;
    overflow: auto; }

/*
.card{

  $contact-info-height: 30px;
  $match-percentage-height: 50px;
  $photo-width: 65px;
  $match-card-height: $contact-info-height + $match-percentage-height + $base-height;
  $photo-height: $match-card-height;

  &.match {
    height: $match-card-height;

    .photo {
      height: $photo-height;
      width: $photo-width;
      background-color: $qi-gray;
      @include absolute();
    }

    .contactInfo {
      height: $contact-info-height;
      padding: 3px 10px;
      @include absolute(top 0 right 0 bottom 0 left $photo-width);

      h3 {
        font-size: 14pt;
      }
    }


    .footer {
      border-top: 1px solid $qi-gray;
      @include absolute(top ($match-card-height - $base-height) right 0 bottom 0 left $photo-width);
    }
  }


}
*/
