/* Card styles */

@import 'sass/_config';

$card-padding-top-bottom: 5px;
$card-padding-left-right: 10px;

$base-height: 40px;
$header-height: $base-height + 20px;
$summary-height: $base-height - 15px;
$actions-height: $base-height;
$actions-position-top: $header-height + $summary-height;
$card-height: $header-height + $summary-height + $actions-height;


$event-card-header-height: $base-height*1.5 + $card-padding-top-bottom*2;
$event-card-summary-height: $base-height*3 + $card-padding-top-bottom*2;
$event-card-summary-top-position: $event-card-header-height + $card-padding-top-bottom*2 + 10px;
$event-card-height: 
  $event-card-header-height + 
  $event-card-summary-height;

$contact-card-header-height: 0px;
$contact-card-summary-height: 0px;
$contact-card-height: 
  $contact-card-header-height + 
  $contact-card-summary-height;



// ****** Basic card
.card-wrapper {
  padding: $page-padding;
  padding-bottom: 0;
}

.card {
  background-color: $white;
  display: inline-block;
  position: relative;
  width: 100%;
  max-width: 450px;
  min-width: 300px;
  height: $card-height;
  font-size: 10pt;
  line-height: 1.2;

  p {
    margin: 2px;
    @include text-truncate;
  }
  h3 {
    font-size: 20px;
    margin: 4px;
    @include text-truncate;
  }
}

.card header {
  height: $header-height;
  padding: $card-padding-top-bottom $card-padding-left-right;
  @include absolute(top 0 right 0 bottom 0 left 0);
}

.card .summary {
  height: $summary-height;
  line-height: 0.75;
  padding: $card-padding-top-bottom $card-padding-left-right;
  @include absolute(top $header-height right 0 bottom 0 left 0);
}

.card-actions {// Card footer
  height: $base-height;
  border-top: 1px solid $qi-gray-light;
  @include absolute(top $actions-position-top right 0 bottom 0 left 0);
}

// ****** Card Variations

// Event Venue Cards
.card.venue-bkgnd {
  height: $event-card-height;
  background-color: $qi-gray-dark2;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: $page-padding - 5px;

  header {
    height: $event-card-header-height;
    text-align: center;
    border-bottom: $border-reverse;
  }

  .summary {
    height: $event-card-summary-height;
    @include absolute(top $event-card-summary-top-position right 0 bottom 0 left 0);
  }
}

.overlay {
  @include absolute(top 0 right 0 bottom 0 left 0);
  background-color: HSLA(195, 60%, 20%, 0.7);
}


// Photo cards

$photo-height: $base-height*2.5 + $card-padding-top-bottom*2;

$photo-card-header-height: ($photo-height * 2/3) - $card-padding-top-bottom*2;
$photo-card-summary-height: ($photo-height * 1/3) - $card-padding-top-bottom;
$photo-card-summary-top-position: $photo-card-header-height;
$photo-card-actions-position-top: 
  $photo-card-header-height + 
  $photo-card-summary-height +
  $card-padding-top-bottom*3;
$photo-card-height: 
  $photo-card-header-height + 
  $photo-card-summary-height +
  $actions-height +
  $card-padding-top-bottom*3;


.card.card-photo {
  height: $photo-card-height;

  /deep/ .photo, /deep/ core-icon.photo {
    height: $photo-height;
    width: $base-height*2;
    background-color: $qi-gray;
    background-repeat: no-repeat;
    background-size: cover;
    color: #bce6d5;
  }

  header {
    left: $base-height*2;
    height: $photo-card-header-height;
  }
  .summary {
    left: $base-height*2;
    height: $photo-card-summary-height;
    top: $photo-card-summary-top-position;
  }
  .card-actions {// Card footer
    top: $photo-card-actions-position-top;
  }
  
  core-collapse {
    background-color: $trait-wrapper-background;
    border: 5px solid $white;
    border-top: 0;
    font-size: 12pt;
    padding: $card-padding-top-bottom $card-padding-left-right;
    margin-top: $base-height;
  }
  .matchPercentage {
    font-size: 18pt;
    display: inline;

    span {
      font-size: 8pt;
    }
  }

  .distanceAway {
    font-size: 9pt;
    display: inline;
    padding-bottom: 2px
  }
}

// Event Notification Cards

$notice-card-height: 60px;

.card.card-notice {
  height: $notice-card-height;

  .avatar {
    height: $notice-card-height;
  }
  .core-icon-wrapper {
    min-height: $notice-card-height;
    min-width: $notice-card-height;
    background-color: $qi-gray;
    text-align: center;
  }
  core-icon{
    height: $notice-card-height*0.6;
    width: $notice-card-height*0.6;
    color: $white;
    margin-top: $card-padding-left-right;
  }
  .noticeContent {
    height: $notice-card-height;
    padding: $card-padding-top-bottom $card-padding-left-right;
  }
}

// ****** Meeting card

$meeting-card-header-height: $base-height - 10px;
$meeting-card-summary-height: $base-height*2;
$meeting-card-height: $meeting-card-header-height + $meeting-card-summary-height;

.card.meeting {
  font-size: 10pt;
  line-height: 1.2;
  height: auto;

  p {
    margin: 8px 4px;
    overflow: auto;
    text-overflow: initial;
    white-space: normal;
    position: relative;

    span {
      @include absolute(top 0 right 0 bottom 0 left 90px);
    }
  }

  header {
    height: auto;
    position: relative;
    background-color: $qi-green-light;
  }

  .summary {
    height: auto;
    line-height: 1.5;
    position: relative;
    top: 0;
    max-height: 200px;
    overflow: auto;
  }

}


// ****** Tweet card

$tweet-logo-height: 48px;
$tweet-card-header-height: $tweet-logo-height;
$tweet-card-summary-height: $tweet-logo-height*1.5;
$tweet-card-summary-top-position: $tweet-card-header-height;
$tweet-card-actions-position-top: 
  $tweet-card-header-height + 
  $tweet-card-summary-height +
  $card-padding-top-bottom*3;
$tweet-card-height: 
  $tweet-card-header-height + 
  $tweet-card-summary-height +
  $actions-height;

.card.card-photo.tweet {
  height: $tweet-card-height;

  /deep/ .photo {
    height: $tweet-logo-height;
    width: $tweet-logo-height;
  }

  header {
    left: $tweet-card-header-height;
    height: $tweet-card-header-height;

    a.userName {
      text-decoration: none;
      font-size: 9pt;
    }
    h3 {
      font-size: 16pt;
      margin: 2px 0;
    }
  }
  .summary {
    left: 0;
    height: $tweet-card-summary-height;
    top: $tweet-card-header-height;
    line-height: 1.5;
  }

  .card-actions {// Card footer
    top: $tweet-card-header-height + $tweet-card-summary-height;
  }

}



