/* Card styles */
.card-wrapper {
  padding: 15px;
  padding-bottom: 0; }

.card {
  background-color: HSLA(0, 0%, 100%, 1);
  display: inline-block;
  font-size: 9pt;
  line-height: 1.2;
  max-width: 400px;
  min-width: 300px;
  position: relative; }
  .card p {
    margin: 0; }
  .card h3 {
    font-size: 12pt; }

.card-photo .photo {
  height: 100px;
  width: 80px;
  background-color: HSLA(197, 26%, 59%, 1);
  background-repeat: no-repeat;
  background-size: cover; }

.card header {
  height: 60px;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.card.card-photo header {
  left: 80px; }

.card .summary {
  height: 25px;
  line-height: 0.75;
  padding: 5px 10px;
  padding-bottom: 10px;
  position: absolute;
  top: 60px;
  right: 0;
  bottom: 0;
  left: 0; }

.card.card-photo .summary {
  left: 80px; }

.card-actions {
  height: 40px;
  border-top: 1px solid HSLA(0, 0%, 92%, 1); }

core-collapse {
  background-color: HSLA(0, 0%, 80%, 1);
  border: 5px solid HSLA(0, 0%, 100%, 1);
  border-top: 0;
  font-size: 12pt;
  padding: 5px 10px; }

.matchPercentage {
  font-size: 18pt;
  display: inline; }
  .matchPercentage span {
    font-size: 8pt; }

.distanceAway {
  font-size: 9pt;
  display: inline;
  padding-bottom: 2px; }

.card {
  /*
  
    .match {
      height: $event-card-height;
  
      .background {
        @include absolute(top 0 right 0 bottom $base-height left 0);
        background-color: HSLA(195, 60%, 30%, 0.6);
      }
  
      .footer {
        @include absolute(top ($event-card-height - $base-height) right 0 bottom 0 left 0);
      }
    }
  */ }
  .card h3 {
    font-size: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .card.venue-bkgnd {
    height: 240px; }
    .card.venue-bkgnd .background {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 40px;
      left: 0;
      background-color: HSLA(195, 60%, 30%, 0.6); }
    .card.venue-bkgnd .footer {
      position: absolute;
      top: 200px;
      right: 0;
      bottom: 0;
      left: 0; }
  .card.match {
    height: 120px; }
    .card.match .photo {
      height: 120px;
      width: 65px;
      background-color: HSLA(197, 26%, 59%, 1);
      position: absolute; }
    .card.match .contactInfo {
      height: 30px;
      padding: 3px 10px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 65px; }
      .card.match .contactInfo h3 {
        font-size: 14pt; }
    .card.match .footer {
      border-top: 1px solid HSLA(197, 26%, 59%, 1);
      position: absolute;
      top: 80px;
      right: 0;
      bottom: 0;
      left: 65px; }
