@import 'sass/_config';
 
html, body {
  margin: 0;
  padding: 0;
  font-family: 'fira-sans-book';
  color: $text-default;
}

.font-light {
  font-family: 'fira-sans-ultralight';
}
.font-book {
  font-family: 'fira-sans-book';
}
.font-bold {
  font-family: 'fira-sans-semibold';
}
.font-extrabold {
  font-family: 'fira-sans-extrabold';
}
.reverse {
  color: $reverse;
}

h1, h2, h3 {font-family: 'fira-sans-ultralight';}

.btn-light[raised] {
  background-color: $white;
  color: $text-default;
}

.header-title {
  color: $reverse;
}

:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

core_scaffold {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


core-scaffold core-toolbar {
  color: $white;
  background-color: #F38630;
}


core-scaffold /deep/ #headerPanel core-toolbar {
  color: $white;
  background-color: $header;
}

core-scaffold /deep/ core-toolbar {
  color: $white;
  background-color: $papertabs;
}


core-scaffold /deep/ #eventDetailHeaderPanel core-toolbar {
  color: $white;
  background-color: $papertabs;
  height: 48px;
}

core-menu {
  font-size: 16px;
}

#core_menu_button {
  left: 68px;
  top: 14px;
  position: absolute;
}
core-submenu {
  left: 12px;
  top: 0px;
  position: relative;
}
core-submenu > core-item {
  padding-left: 10px;
  font-size: 10pt;
}

core-submenu > core-submenu{
  font-size: 8pt;
  margin-top: -5px;
  margin-bottom: -5px;
}

core-submenu > core-submenu[label]{
  font-size: 10pt;
}

core-toolbar {
  background-color: $qi-gray;
  height: 40px;
}

core-header-panel > core-toolbar {
  background-color: $qi-blue;
  color: $white;
  height: 64px;
}

core-pages {
  left: 260px;
  top: 70px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: $background;
  background-image: $backgroundImage;
  background-repeat: no-repeat;
  background-position: -500px -25px;
}


core-pages .content {
  padding: 30px;
}


core_pages > section {
  background-color: #eeeeee;
}


core-scroll-header-panel {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  visibility: visible;
  padding: 20px;
  overflow: auto;
}

.content {
  padding: 20px 30px;
  background-color: $background;
  background-image: $backgroundImage;
  background-repeat: no-repeat;
  background-position: -500px -100px;
  overflow: auto;
}

input#searchText[is=core-input] {
  width:100px;
  background-color: #fff;
  font-size: 16px;
  padding: 4px 16px;
}

.search-panel {
  background-color: rgba(255,255,255,0.7);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}


/* some default styles for mode="cover" on core-scaffold */
core-scaffold[mode=cover]::shadow core-header-panel::shadow #mainContainer {
  left: 120px;
}

core-scaffold[mode=cover] .content {
  margin: 20px 100px 20px 0;
}



section {
  overflow: auto;
}


/* Search Text Field */
input[type=search]{
  border-radius: 5px;
  background-color: rgba(255,255,255, 0.7);
  color: rgba(255,255,255, 0.7);
  padding: 4px 16px;
}

/** Default icon styling. */
core-icon{
  height: 20px;
  width: 20px;
  border: 0;
}

.padding {
  padding: $page-padding;
}


h4 {
  color: $qi-gray;
  text-transform: uppercase;
  margin: 5px 0;
  font-size: 10pt;
}

.settings-row {
  border-bottom: 1px solid $qi-gray-light;
  padding: 10px 0;
  margin: 0 10px;
  font-size: 10pt;
}

core-input {
  color: $qi-blue;
  cursor: pointer;
}

/* Tabs */
paper-tabs {
  height: 40px;
  color: $white;
  margin: 0 -5px !important;
  text-transform: uppercase;

  &::shadow #selectionBar {
    background-color: transparent;
  }

  paper-tab::shadow #ink {
    color: $qi-gray-dark2;
  }

  &::shadow .scroll-button {
    width: 35px;
    height: 40px;
    padding: 0;
    border: 1px solid $white;
    background-color: darken($qi-gray, 7%);

    > paper-icon-button {
      padding: 7px 5px;
    }
  }
}


/* Dropdowns */
core-dropdown-menu {
  border-radius: 2px;
  padding: 0 0 0 10px;
  font-size: 11pt;
}

core-dropdown {
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.4), 0 0 0 1px rgba(0, 0, 0, 0.2);
}

core-dropdown core-item {
  padding: 0 10px;
}

