 :host {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'RobotoDraft';
}
#core_scaffold {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
#core_header_panel {
  background-color: rgb(255, 255, 255);
}
core-scaffold core-toolbar {
  color: rgb(255, 255, 255);
  background-color: #F38630;
}

core-menu {
  font-size: 16px;
  font-family: 'RobotoDraft';
  color: #505050;
}

#core_menu_button {
  left: 68px;
  top: 14px;
  position: absolute;
}
core-submenu {
  left: 12px;
  top: 0px;
  position: relative;
  color: #505050;
}
core-submenu > core-item {
  padding-left: 10px;
  font-size: 10pt;
  color: #505050;
}
core-pages {
  left: 260px;
  top: 70px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #E0E4CC;
}

core-pages .content {
  padding: 30px;
}
core_pages > section {
  background-color: #eeeeee;
}


/* some default styles for mode="cover" on core-scaffold */
core-scaffold[mode=cover]::shadow core-header-panel::shadow #mainContainer {
  left: 120px;
}

core-scaffold[mode=cover] .content {
  margin: 20px 100px 20px 0;
}

paper-button[raised]{
  background: #4285f4;
  color: #fff;
}

paper-button{
  background: #4285f4;
  color: #fff;
}
