@import 'sass/_config';
 

.font-light {
  font-family: $font-light;
}

.btn-light[raised] {
  background-color: $white;
  color: $text-default;
}

:host {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: 'FirasansBook' 'FirasansUltralight' 'RobotoDraft';
  color: $black01;
}

core_scaffold {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}


core-scaffold core-toolbar {
  color: rgb(255, 255, 255);
  background-color: #F38630;
}


core-scaffold /deep/ #headerPanel core-toolbar {
  color: rgb(255, 255, 255);
  background-color: $header;
}

core-scaffold /deep/ core-toolbar {
  color: rgb(255, 255, 255);
  background-color: $papertabs;
}


core-scaffold /deep/ #eventDetailHeaderPanel core-toolbar {
  color: rgb(255, 255, 255);
  background-color: $papertabs;
  height: 48px;
}

core-menu {
  font-size: 16px;
  font-family:  'FirasansUltralight' 'RobotoDraft';
  color: #505050;
}

#core_menu_button {
  left: 68px;
  top: 14px;
  position: absolute;
}
core-submenu {
  left: 12px;
  top: 0px;
  position: relative;
  color: #505050;
}
core-submenu > core-item {
  padding-left: 10px;
  font-size: 10pt;
  color: #505050;
}

core-submenu > core-submenu{
  font-size: 8pt;
  margin-top: -5px;
  margin-bottom: -5px;
}

core-submenu > core-submenu[label]{
  font-size: 10pt;
}

core-toolbar {
  background-color: #bce6d5;
}

core-pages {
  left: 260px;
  top: 70px;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: $background;
  background-image: $backgroundImage;
  background-repeat: no-repeat;
  background-position: -500px -25px;
}


core-pages .content {
  padding: 30px;
}


core_pages > section {
  background-color: #eeeeee;
}


core-scroll-header-panel {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block;
  visibility: visible;
  padding: 20px;
  overflow: auto;
}

.content {
  padding: 20px 30px;
  background-color: $background;
  background-image: $backgroundImage;
  background-repeat: no-repeat;
  background-position: -500px -100px;
  overflow: auto;
}

input#searchText[is=core-input] {
  width:100px;
  background-color: #fff;
  font-size: 16px;
  padding: 4px 16px;
}

.search-panel {
  background-color: rgba(255,255,255,0.7);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.cardWhite{
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
  display: block;
}


/* some default styles for mode="cover" on core-scaffold */
core-scaffold[mode=cover]::shadow core-header-panel::shadow #mainContainer {
  left: 120px;
}

core-scaffold[mode=cover] .content {
  margin: 20px 100px 20px 0;
}

paper-button[raised]{
  background: #4285f4;
  color: #fff;
}

paper-button{
  background: #4285f4;
  color: #fff;
}

section {
  overflow: auto;
}


/* Search Text Field */
input[type=search]{
  border-radius: 5px;
  background-color: rgba(255,255,255, 0.7);
  color: rgba(255,255,255, 0.7);
  padding: 4px 16px;
}

/** Default icon styling. */
core-icon{
  color: #505050;
  height: 20px;
  width: 20px;
  border: 0;
}







