core-scroll-header-panel{
    left: 10px;
    top: 0px;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block;
    visibility: visible;
}

input{
    visibility: visible;
}

button{
    background-color: #526E9C;
    color: white;
}

input{
    background-color: white;
}

.content{
  margin-top: 10px;
  border-top-style: 1px solid black;
}