@import '../sass/_config';

paper-dialog {
  font-family: $font-light;
  width: 90%;
  max-width: 450px;
  @include border-radius(10px);
}

paper-dialog h1{
  margin-top: 0;
}

paper-dialog #actions {
  @include border-radius(10px);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: $border;
  padding: 0;
  background-color: $qi-blue-light;
}

paper-dialog paper-button {
  font-family: $font-regular;
}

paper-dialog #scroller {
  padding: 20px;
}

paper-dialog core-icon {
  height: 50px !important;
  width: 50px !important;
}