 paper-action-dialog {
  	font-family: 'FirasansBook' 'FirasansUltralight' 'RobotoDraft';
  	
  	padding-left: 5px;
  }

  paper-action-dialog::shadow h1{
  	font-family: 'FirasansBook' 'FirasansUltralight' 'RobotoDraft';
  }