
core-toolbar::shadow .toolbar-tools {
  height: 40px;
  padding: 0 4px;
}


.content {
  padding: 30px;
  height: 100%;
}


/*

paper-checkbox {
  margin-top: 20px;
  padding-right: 15px;
}



paper-progress {
  height: 14px;
}

paper-progress.type1::shadow #activeProgress {
  background-color: #2fd0ae;
}

paper-progress.type2::shadow #activeProgress {
  background-color: #F0B84C;
}


*/