.content {
  padding: 30px;
  height: 100%;
}

/* Tabs 
paper-tabs {
  height: 40px;
  color: $white;
  margin: 0 -5px !important;
  text-transform: uppercase;
  width: 100%;

  & #selectionBar {
    background-color: transparent;
  }

  paper-tab #ink {
    color: $qi-gray-dark2;
  }

  & .scroll-button {
    width: 35px;
    height: 40px;
    padding: 0;
  
    background-color: darken($qi-gray, 7%);

    paper-icon-button {
      padding: 7px 5px;
    }
  }
}
*/