#card {
  margin-bottom: 20px;
  position: relative;
  height: 240px;
  min-width: 240px;
  max-width: 350px; }

.eventInfo h3 {
  font-size: 20px;
  margin: 0; }

.footer {
  position: absolute;
  top: 200px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  background-color: HSLA(0, 0%, 100%, 1); }
