#titleBlock{
  color: #526E9C;
	font-size: 20px;
}
#summaryBlock{
	font-size: 8pt;
	color: #505050;
	margin-top: 4px;
}

core-dropdown-menu{
	border: 1px solid #cacaca;
	border-radius: 5px;
	background-color: rgba(255, 255, 2555, 0.7);
}

#card{
	background-color: rgba(255,255,255,0.7);
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid #fff;
}

#mapContainer {
  margin-left: 20px;
}

google-map {
  height: 400px;
  width: 400px;
}
