@import '../sass/_config';

.card.venue-bkgnd.banner {
  width: 100%;
  max-width: none;
  margin-bottom: 0;
}

.eventSettings {
	background-color: $white;
	padding: 10px;
	margin-top: -5px;
}

.eventSettings > div{
	line-height: normal;
}

paper-toolbar{
	height: 40px;
}