.panel {
  background-color: #17a8cc;
  background-size: contain;
  width: 100%;
  height: 100%; }

.logo {
  background: transparent url("../../images/logo_slogan.svg") center top no-repeat;
  width: 50%;
  max-width: 300px;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  height: 200px;
  padding: 20px; }

.wrapper {
  width: 50%;
  max-width: 300px;
  min-width: 200px;
  padding: 20px; }
