#titleBlock{
    color: #526E9C;
}
#summaryBlock{
	font-size: 8pt;
	color: #505050;
}

fieldset{
	border-radius: 5px;
}

.cardWhite{
	background-color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	min-height: 50px;
}