.titleBlock{
    color: #526E9C;
}
.summaryBlock{
	font-size: 8pt;
	color: #505050;
}

fieldset{
	border-radius: 5px;
}

.cardWhite{
	background-color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	min-height: 50px;
}
.row{
	display: table-row;
	max-height: 30px;
}
.iconFld{
	display: table-cell;
	vertical-align: top;
}
.iconFld > core-icon{
	vertical-align: top;
}
.iconFld > label{
	font-weight: bold;
	font-size: 10pt;
}

.fldValue{
	vertical-align: top;
	font-size: 8pt;
	background-color: #cdcdcd;
	margin-left: 30px;
}