
fieldset{
	border-radius: 5px;
}

.cardWhite{
	background-color: #fff;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
	min-height: 50px;
}
.row{
	display: table-row;
	max-height: 30px;
}
.iconFld{
	display: table-cell;
	vertical-align: top;
	margin-left: 30px;
}
.iconFld > core-icon{
	vertical-align: top;
	height: 20px;
	weight: 20px;
}
.iconFld > label{
	font-weight: bold;
	font-size: 10pt;
}

.fldValue{
	vertical-align: top;
	font-size: 10pt;
	background-color: #cdcdcd;
	margin-left: 15px;
}